@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container text-center mt-5">
    <h1 class="display-4">Welcome to the InvenorySystem</h1>

    <a href="/Products" class="btn btn-primary btn-lg mt-4">Go to Products</a>
</div>